@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

.portfolio-feature:nth-child(odd) {
    @media (min-width: 100%) {
      flex-direction: row-reverse;
    }
  }

@font-face {
  font-family: 'Cascadia Code';
  src: url('./fonts/Cascadia.ttf');
}

.button {
  background-color: var(--lighter-blue);
  width: 100%;
}

.button:hover {
  background-color: var(--white);
}

.iscii {
  font-family: 'Fascinate Inline', sans-serif;
}

.cascadia {
  font-family: 'Cascadia Code', monospace;
}