@font-face {
  font-family: 'MxPlus Tandy1K-II 200L';
  src: url('../MX-font/MxPlus_Tandy1K-II_200L.woff2') format('woff2'),
      url('../MX-font/MxPlus_Tandy1K-II_200L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 1200px) {
  .portfolio-feature:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('./fonts/Cascadia.ttf');
  font-display: swap;
}

.button {
  background-color: var(--lighter-blue);
  width: 100%;
}

.button:hover {
  background-color: var(--white);
}

.mx-font {
  font-family: 'MxPlus Tandy1K-II 200L', sans-serif;
}



.cascadia {
  font-family: 'Cascadia Code', monospace;
}