{{ define "main" }}
<div class="container" style="max-width: 800px;">
   <h2 class="text-center mx-font">{{ .Title }}</h2>
   <div>
      <p class="text-center fs-4 cascadia">{{ .Params.details }}</p>
   </div>
   <div class="text-center fs-4 cascadia">
      {{ .Content | safeHTML }}
   </div>
   <div class="row">
      {{ with .Params.form_details }}
     <div>
        <form class="row mx-font" action="https://formsubmit.co/2f732a8f870cc6d018591ee6175025de" method="POST">
            <div class="col-sm-6 form-group mt-3">
               <input class="form-control" id="name" name="name" placeholder="{{ .name }}" type="text" required>
            </div>
            <div class="col-sm-6 form-group mt-3">
               <input class="form-control" id="email" name="email" placeholder="{{ .email }}" type="email" required>
            </div>
            <div class="mt-3">
                <textarea class="form-control" id="feedback" name="feedback" placeholder="{{ .message }}" rows="3"></textarea>
            </div>
            <div class="row">
               <div class="form-group text-center mt-3 w-full mx-font">
                  <button class="button" type="submit" id="submitbtn">{{ .btn_text }}</button>
               </div>
            </div>
         </form>
         <br>
     </div>
     {{ end }}
   </div>
 </div>
{{ end }}
