{{ define "main" }}
<section class="container" style="max-width: 1000px;">
  <div class="py-5">
    <h1 class="site-heading">{{ .Title }}</h1>{{ partial "game-feature.html" . }}
    
    <div class="row">
    {{ range .Params.content }}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="game-card">
          {{ $title := .title }}
          {{ with .image }}
          <img loading="lazy" src="{{ . }}" alt="{{ $title | default "Game Screenshot" }}" class="img-fluid">
          {{ end }}
          
          <div class="game-card-body flex-grow-1">
            {{ with .title }}
            <h3 class="mx-font mb-3">{{ . | upper }}</h3>
            {{ end }}
            
            {{ with .text }}
            <p class="cascadia mb-4">{{ . }}</p>
            {{ end }}
          </div>
          
          <div class="game-card-footer mt-auto pt-3">
            {{ range .buttons }}
            {{ if eq .url "/" }}<span class="retro-btn w-100 text-center">{{ else }}<a class="retro-btn w-100 text-center" href="{{ .url }}">{{ end }}
              [ {{ .label | upper }} ]
            {{ if eq .url "/" }}</span>{{ else }}</a>{{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>
{{ end }}
