<div class="row">
   <div class="col-sm-6 form-group mt-3">
      <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
   </div>
   <div class="col-sm-6 form-group mt-3">
      <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
   </div>
   <div class="mt-3">
       <textarea class="form-control" id="feedback" name="feedback" placeholder="Feedback" rows="3"></textarea>
   </div>
</div>
<br>
<div class="row">
   <div class="form-group text-center mt-3">
      <!-- <button class="btn btn-default pull-right" type="submit" onclick="sendmail()">Send</button> -->
      <button class="btn btn-default pull-right" type="submit" id="submitbtn">Send</button>
   </div>
</div>
